<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FDND Squadpage 2023</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="hva icon.jpg">
</head>
<body>
  
  <header>
    <h1>FDND Squadpage 2023</h1>

    <br><h1><%= squad.name %></h1>
    
    <br />
    <div class="choose-squad">
      <a class="squad-a" href="/?squad=squad-a-2022">Squad A </a>
      <a class="squad-b" href="/?squad=squad-b-2022">Squad B</a>
      <a class="squad-c" href="/?squad=squat-c-2022">Squad C</a>
    </div>
    <br /><br />

  </header>
